@charset "UTF-8";

body {
    background-color: rgb(19, 45, 80);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkred;
    background-color:black;
}

h2 {
    color:darkgoldenrod;
}

p {
    text-align: justify;
}