@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2E1C4, #C9BBA3);
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #292621;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A19582;
    text-align: center;
    text-shadow: 1px 1px 2px #47423a;
}

h2 {
    color: #4F4A40;
}

p {
    text-align: justify;
}